{% extends 'base.html.twig' %}
{% block title 'Agence Immo'%}
{% block body %}
<div class="jumbotron text-center">
<h1> Ma super Agence</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae consectetur sem, sed placerat ex. Nulla et lorem aliquet, commodo lorem ac, imperdiet velit. 
Cras a nibh dapibus, condimentum neque at, suscipit odio. Vestibulum vestibulum neque turpis, ac fermentum dolor auctor sit amet. 
Cras tristique nunc vel lectus volutpat, in porta libero lacinia. Suspendisse eget turpis quis est rutrum ullamcorper quis vel turpis. 
Quisque tempus tortor vitae pellentesque fringilla. 
Mauris bibendum risus libero, vel rutrum felis faucibus et. Mauris volutpat cursus ultrices.</p>
</div>
{%  endblock %}